*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: inherit;}

html {
  font-size: 62.5%;
  font-family: 'Andale Mono', monospace, "Arial", sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #1b1d21;
}

main {
  color: #b2b2b6;
  width: 55rem;
  height: 56rem;
  border: 0.5px solid #4a505a;
  border-radius: 1rem;
  background: #24272d;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

canvas {
  border: 1px solid #4a505a;
  border-radius: 1.5rem;
  width: 500px;
  height: 230px;
  background: black;
}

button {
  color: #24272d;
  font-family: 'Andale Mono', monospace, "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  background-color: #b6b6ba;
  border: none;
}

input {
  color: #1b1d21;
  font-family: 'Andale Mono', monospace, "Arial", sans-serif;
  appearance: none;
  background: #b6b6ba;
  height: 0.3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  width: 70%;
  margin-bottom: 2.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 1rem;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 1rem;
  background: #b9b9bd;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-border-radius: 1rem;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 1rem;
  background: #b9b9bd;
  border: none;
}

.stop-button {
  display: none;
}

.stop-button,
.play-button {
  margin-bottom: 3.2rem;
  min-width: 6rem;
  min-height: 6rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.volume {
  margin-top: 1.6rem;
  width: 30rem;
}

button:hover,
input:hover,
input::-webkit-slider-thumb:hover {
  background-color: #dedee3;
}

button:active,
input::-webkit-slider-thumb:active {
  background-color: #fafaff;
}

input::-webkit-slider-thumb:active {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 1.4rem;
}

.noise-buttons {
  margin-top: 0.6rem;
  display: flex;
}

.noise-button {
  margin: 1.5rem;
  border-radius: 0.6rem;
  width: 7.5rem;
  height: 2.7rem;
  font-size: 1.4rem;
}

.display-buttons {
  width: 89%;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 2rem;
  justify-content: center;
}

.display-button {
  border-radius: 0.6rem;
  width: 6.8rem;
  height: 2.1rem;
  font-size: 1.2rem;
}

.reverb-button {
  /* background-color: rgb(255, 124, 135); */
  position: absolute;
  margin-left: 39rem;
  margin-bottom: 16rem;
  font-size: 1.1rem;
  height: 4.2rem;
  width: 4.6rem;
  border-radius: 0.6rem;
}

@media (max-width:420px) {
  main {
    width: 99.5%;
    height: 99.5%;
    justify-content: center;
  }

  canvas {
    width: 96%;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.8rem;
    margin-bottom: 6rem;
  }

  .volume {
    margin-top: 2rem;
  }

  .stop-button,
  .play-button {
    margin-top: 2rem;
    min-width: 7rem;
    min-height: 7rem;
    width: 7rem;
    height: 7rem;
    border-radius: 7rem;
  }

  .reverb-button {
    position: relative;
    margin-left: 20rem;
    bottom: 13%;
    margin-bottom: 0;
    font-size: 1.1rem;
    height: 4.2rem;
    width: 4.6rem;
    border-radius: 0.6rem;
  }
}

@media (max-height:670px) and (max-width:420px) {
  h1 {
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
}
